In [2]:
import requests

# Dictionary of CSV URLs and the filenames to save them as
csv_links = {
    "world-bank-income-groups.csv":"https://ourworldindata.org/grapher/world-bank-income-groups.csv?v=1&csvType=full&useColumnShortNames=true",
    "world-regions-according-to-the-world-bank.csv":"https://ourworldindata.org/grapher/world-regions-according-to-the-world-bank.csv?v=1&csvType=full&useColumnShortNames=false",

    "pisa-mean-performance-on-the-mathematics-scale-by-sex.csv": "https://ourworldindata.org/grapher/pisa-mean-performance-on-the-mathematics-scale-by-sex.csv?v=1&csvType=full&useColumnShortNames=false",
    "pisa-mean-performance-on-the-reading-scale-by-sex.csv": "https://ourworldindata.org/grapher/pisa-mean-performance-on-the-reading-scale-by-sex.csv?v=1&csvType=full&useColumnShortNames=false",
    "average-performance-of-15-year-old-girls-and-boys-on-the-science-scale.csv": "https://ourworldindata.org/grapher/average-performance-of-15-year-old-girls-and-boys-on-the-science-scale.csv?v=1&csvType=full&useColumnShortNames=false",
    "pisa-test-score-mean-performance-on-the-mathematics-scale.csv": "https://ourworldindata.org/grapher/pisa-test-score-mean-performance-on-the-mathematics-scale.csv?v=1&csvType=full&useColumnShortNames=false",
    "pisa-test-score-mean-performance-on-the-reading-scale.csv": "https://ourworldindata.org/grapher/pisa-test-score-mean-performance-on-the-reading-scale.csv?v=1&csvType=full&useColumnShortNames=false",
    "average-performance-of-15-year-olds-on-the-science-scale.csv": "https://ourworldindata.org/grapher/average-performance-of-15-year-olds-on-the-science-scale.csv?v=1&csvType=full&useColumnShortNames=false",
    "total-government-expenditure-on-education-gdp.csv": "https://ourworldindata.org/grapher/total-government-expenditure-on-education-gdp.csv?v=1&csvType=full&useColumnShortNames=false",
    "gdp-per-capita-worldbank.csv": "https://ourworldindata.org/grapher/gdp-per-capita-worldbank.csv?v=1&csvType=full&useColumnShortNames=false",
    "economic-inequality-gini-index.csv": "https://ourworldindata.org/grapher/economic-inequality-gini-index.csv?v=1&csvType=full&useColumnShortNames=false",
    "gini-coefficient-world-bank-marimekko.csv": "https://ourworldindata.org/grapher/gini-coefficient-world-bank-marimekko.csv?v=1&csvType=full&useColumnShortNames=false",
    "share-of-population-in-extreme-poverty.csv": "https://ourworldindata.org/grapher/share-of-population-in-extreme-poverty.csv?v=1&csvType=full&useColumnShortNames=false",
    "distribution-of-population-between-different-poverty-thresholds-up-to-30-dollars.csv": "https://ourworldindata.org/grapher/distribution-of-population-between-different-poverty-thresholds-up-to-30-dollars.csv?v=1&csvType=full&useColumnShortNames=false",
    "share-multi-poverty.csv": "https://ourworldindata.org/grapher/share-multi-poverty.csv?v=1&csvType=full&useColumnShortNames=false",
    "gender-inequality-index-from-the-human-development-report.csv": "https://ourworldindata.org/grapher/gender-inequality-index-from-the-human-development-report.csv?v=1&csvType=full&useColumnShortNames=false",
    "share-of-education-in-government-expenditure.csv": "https://ourworldindata.org/grapher/share-of-education-in-government-expenditure.csv?v=1&csvType=full&useColumnShortNames=false",
    "average-years-of-schooling.csv": "https://ourworldindata.org/grapher/average-years-of-schooling.csv?v=1&csvType=full&useColumnShortNames=false",
    "mean-years-of-schooling-male.csv": "https://ourworldindata.org/grapher/mean-years-of-schooling-male.csv?v=1&csvType=full&useColumnShortNames=false",
    "mean-years-of-schooling-female.csv": "https://ourworldindata.org/grapher/mean-years-of-schooling-female.csv?v=1&csvType=full&useColumnShortNames=false",

    "expected-years-of-schooling.csv": "https://ourworldindata.org/grapher/expected-years-of-schooling.csv?v=1&csvType=full&useColumnShortNames=false",
    "human-development-index.csv": "https://ourworldindata.org/grapher/human-development-index.csv?v=1&csvType=full&useColumnShortNames=false",
    "political-corruption-index.csv": "https://ourworldindata.org/grapher/political-corruption-index.csv?v=1&csvType=full&useColumnShortNames=false"
}

# Download files
for filename, url in csv_links.items():
    #print(f"Downloading {filename}...")
    response = requests.get(url)
    with open(filename, 'wb') as f:
        f.write(response.content)

print("✅ All files downloaded successfully in Google Colab environment.")

✅ All files downloaded successfully in Google Colab environment.

##Data Collection and Processing
* I collected all of my datasets from World Bank, in this file those datasets will be merged, cleaned and imputed to prepare for data analysis.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

"""
files are merged into a single data frame, only years from 1990 to 2023 are kept to do interpolation,
countries that have less than 10 appearence for those years are dropped to eliminate places where there is not much data
"""

# names of all files that will be used, I directly uploaded the files to runtime that is why there is no path for google drive
file_names = [
    "world-bank-income-groups.csv",
    'pisa-mean-performance-on-the-mathematics-scale-by-sex.csv',
    'pisa-mean-performance-on-the-reading-scale-by-sex.csv',
    'average-performance-of-15-year-old-girls-and-boys-on-the-science-scale.csv',
    'pisa-test-score-mean-performance-on-the-mathematics-scale.csv',
    'pisa-test-score-mean-performance-on-the-reading-scale.csv',
    'average-performance-of-15-year-olds-on-the-science-scale.csv',
    'total-government-expenditure-on-education-gdp.csv',
    'gdp-per-capita-worldbank.csv',
    'economic-inequality-gini-index.csv',
    'gender-inequality-index-from-the-human-development-report.csv',
    'share-of-education-in-government-expenditure.csv',
    'average-years-of-schooling.csv',
    'mean-years-of-schooling-male.csv',
    'mean-years-of-schooling-female.csv',
    'expected-years-of-schooling.csv',
    'human-development-index.csv',
    'political-corruption-index.csv'
]

# first file is read others will be merged to this one
merged_df = pd.read_csv(file_names[0])
merged_df = merged_df.drop(columns='Code', errors='ignore')

# rest is merged with the loop
for file in file_names[1:]:
    df = pd.read_csv(file)
    df = df.drop(columns='Code', errors='ignore')

    # drop overlapping columns except 'Entity' and 'Year'
    overlapping_cols = []
    for col in df.columns:
        if col in merged_df.columns and col not in ['Entity', 'Year']:
            overlapping_cols.append(col)

    df = df.drop(columns=overlapping_cols, errors='ignore')

    # merge on 'Entity' and 'Year'
    merged_df = pd.merge(merged_df, df, on=['Entity', 'Year'], how='outer')

# for now only years between 1990-2023 kept, after imputation 1990-99 and 2023 will be dropped because they do not have many PISA scores
df_filtered = merged_df.loc[(merged_df["Year"] >= 1990) & (merged_df["Year"] <= 2023)]

# keep only countries that appear more than 10 times
entity_counts = df_filtered["Entity"].value_counts()
valid_entities = entity_counts[entity_counts >= 10].index
df_filtered = df_filtered.loc[df_filtered["Entity"].isin(valid_entities)]

entity_counts = df_filtered["Entity"].value_counts()
#print(entity_counts)

#drop duplicate or unnecessary columns
df_filtered = df_filtered.drop(columns=['Population (historical)', '990179-annotations',
                                        'Upper bound of performance of 15-year-old  on the mathematics scale',
                                        'Lower bound of performance of 15-year-old  on the mathematics scale',
                                        'Upper bound of performance of 15-year-old  on the reading scale',
                                        'Lower bound of performance of 15-year-old  on the reading scale',
                                        'Upper bound of performance of 15-year-old  on the science scale',
                                        'Lower bound of performance of 15-year-old  on the science scale',
                                       ])

df = df_filtered # to use a simpler name

* Dataset files are opened and merge together, some unnecessary columns and rows are dropped.

In [4]:
df.dtypes

Entity                                                                          object
Year                                                                             int64
classification                                                                  object
Average performance of 15-year-old female students on the mathematics scale    float64
Average performance of 15-year-old male students on the mathematics scale      float64
World regions according to OWID                                                 object
Average performance of 15-year-old female students on the reading scale        float64
Average performance of 15-year-old male students on the reading scale          float64
Average performance of 15-year-old female students on the science scale        float64
Average performance of 15-year-old male students on the science scale          float64
Population                                                                     float64
Average performance of 15-year-old students on the mathematics scale           float64
Average performance of 15-year-old students on the reading scale               float64
Average performance of 15-year-old students on the science scale               float64
Public spending on education as a share of GDP                                 float64
GDP per capita, PPP (constant 2021 international $)                            float64
Gini coefficient                                                               float64
Gender Inequality Index                                                        float64
Government expenditure on education, total (% of government expenditure)       float64
Average years of schooling                                                     float64
Mean years of schooling (ISCED 1 or higher), population 25+ years, male        float64
Mean years of schooling (ISCED 1 or higher), population 25+ years, female      float64
Expected years of schooling                                                    float64
Human Development Index                                                        float64
Political corruption index (central estimate, aggregate: average)              float64
dtype: object

In [5]:
# columns are renamed for clarity
shortened_columns = [

    "Entity",
    "Year",
    "classification",
    "Math_PISA_Female",
    "Math_PISA_Male",
    "World_Region",
    "Read_PISA_Female",
    "Read_PISA_Male",
    "Sci_PISA_Female",
    "Sci_PISA_Male",
    "Population",
    "Math_PISA_Total",
    "Read_PISA_Total",
    "Sci_PISA_Total",
    "EduSpend_GDP",
    "GDP_PPP_perCapita",
    "Gini_Coefficient",
    "Gender_Inequality",
    "GovEduSpend_Pct",
    "Avg_School_Years",
    "Mean_School_Years_M",
    "Mean_School_Years_F",
    "Expected_School_Years",
    "HDI",
    "Corruption_Index"
]

df.columns = shortened_columns




# columns that will be interpolated
to_impute = [

    "Math_PISA_Female",
    "Math_PISA_Male",
    "Read_PISA_Female",
    "Read_PISA_Male",
    "Sci_PISA_Female",
    "Sci_PISA_Male",
    "Population",
    "Math_PISA_Total",
    "Read_PISA_Total",
    "Sci_PISA_Total",
    "EduSpend_GDP",
    "GDP_PPP_perCapita",
    "Gini_Coefficient",
    "Gender_Inequality",
    "GovEduSpend_Pct",
    "Avg_School_Years",
    "Mean_School_Years_M",
    "Mean_School_Years_F",
    "Expected_School_Years",
    "HDI",
    "Corruption_Index"
]

for score in to_impute:

  # loop over each country and interpolate all values for that country name
  for country in df['Entity'].unique():
      select_country = df['Entity'] == country # select all the rows that has given country
      country_scores = df.loc[select_country, score] # of the country select the column

      # interpolate for all missing values in the given country
      country_filled = country_scores.interpolate(method='linear', limit_direction='both').bfill().ffill() #bfill/ffill to impute values to end/begining

      df.loc[select_country, score] = country_filled # values are replaced with filled values

* Instead of imputing mean or median, linear interpolation is used (idea taken from model the imputation in the lecture slides)
* A feature's value may increase or decrease within the years, I thought linear interpolation would reflect that better than imputing the mean

In [6]:
# how many countries miss GDP and PISA, average reading values are taken as they were more then the other scores
missing_pisa_countries = df.loc[df['Read_PISA_Female'].isna(), 'Entity'].unique().tolist()
missing_gdp_countries = df.loc[df['GDP_PPP_perCapita'].isna(), 'Entity'].unique().tolist()
counter1 = 0
counter2 = 0
for ctr in missing_gdp_countries:
  if ctr not in missing_pisa_countries:
    counter1 += 1
    print('Country that is missing GDP but not PISA:', ctr)

for ctr in missing_gdp_countries:
  if ctr in missing_pisa_countries:
    counter2 += 1
    #print(ctr)

print('Countries missing GDP:                   ', len(missing_gdp_countries), '\n' 'Countries missing both GDP and PISA:     ', counter2)

# output is 84 and 83 so only Taiwan has PISA scores but missing GDP, Taiwan will be impputed others will be dropped

Country that is missing GDP but not PISA: Taiwan
Countries missing GDP:                    84
Countries missing both GDP and PISA:      83

* Here I check how many countries have missing GDP, I will then use GDP to impute missing income classifications. Then calculate each 4 of the income classifications means for all columns and impute in places where a country has no value for that column in any years.

In [7]:

gdp_col = "GDP_PPP_perCapita"
read_f = "Read_PISA_Female"
read_m = "Read_PISA_Male"

# compute the mean GDP for each non-missing 'classification'
group_means = df.groupby('classification')[gdp_col].mean()

missing = df['classification'].isna() & df[gdp_col].notna() # find rows where classification is missing but GDP is present

# loop over each of those rows and pick the class whose mean is closest
for ind in df[missing].index:
    this_gdp = df.at[ind, gdp_col]
    difference = (group_means - this_gdp).abs() #distance to each classifications mean
    df.at[ind, 'classification'] = difference.idxmin() # closest classifications mean will be picked

# check how many are still missing
print("Still missing:", df['classification'].isna().sum())

Still missing: 2017

In [8]:
# list of income classification
classific = ['Low-income countries', 'Lower-middle-income countries', 'Upper-middle-income countries', 'High-income countries']

# fill missing values per category, I hope to get better estimation for missing values this way, intead of plugging in overall mean for all countries
for c in classific:
    c_classif = df['classification'] == c # to select only c classification in each loop, boolean series
    for column in to_impute:
        mean_value = df.loc[c_classif, column].mean() # compute mean for each column for classification c
        df.loc[c_classif & df[column].isna(), column] = mean_value # find rows where classification is c and columns values is missing, fill it with its mean

print(df[to_impute].isna().sum())  # all zeros if everything filled

Math_PISA_Female         2017
Math_PISA_Male           2017
Read_PISA_Female         2017
Read_PISA_Male           2017
Sci_PISA_Female          2017
Sci_PISA_Male            2017
Population                673
Math_PISA_Total          2017
Read_PISA_Total          2017
Sci_PISA_Total           2017
EduSpend_GDP             1834
GDP_PPP_perCapita        2017
Gini_Coefficient         1890
Gender_Inequality        1547
GovEduSpend_Pct          1942
Avg_School_Years         1452
Mean_School_Years_M      1895
Mean_School_Years_F      1895
Expected_School_Years    1448
HDI                      1452
Corruption_Index         1668
dtype: int64

In [9]:
#df.loc[df['Entity'] == 'Taiwan',gdp_col] # Taiwan problem is fixed, now it has mean GDP for its income classification

In [10]:
#countries that do not have GDP and PISA scores are dropped
for country in missing_pisa_countries:
    df = df[df['Entity'] != country]

print(df['classification'].isna().sum())  # all zeros if everything filled

0

* Countries missing PISA scores are dropped.

In [11]:
gdp_col = 'GDP_PPP_perCapita'
means_by_class = df.groupby('classification')[gdp_col].mean() # mean GDP for each classification

class_names = list(means_by_class.index)
class_means = list(means_by_class.values)

select_missing_class = df['classification'].isna() & df[gdp_col].notna() # rows where classification is missing but there is GDP
rows_to_fill = df[select_missing_class].index.tolist()

for i in rows_to_fill:  # or each such row, find the class whose mean is closest to that row’s GDP
    gdp_value = df.loc[i, gdp_col]
    least_diff_class = []
    least_diff  = []

    for j in range(len(class_names)):
        name     = class_names[j]
        mean_value = class_means[j]
        diff     = abs(mean_value - gdp_value)

        if least_diff==[] or diff < least_diff:
            least_diff  = diff
            least_diff_class = name

    df.loc[i, 'classification'] = least_diff_class #impute classification with least difference

print(df['classification'].describe())

count                      2992
unique                        4
top       High-income countries
freq                       1353
Name: classification, dtype: object

* Countries with missing classification values are imputed with the closest difference in GDP for classification.

In [12]:
# find all Entities that do have at least one value
valid_entities = df.loc[ df[read_f].notna(), 'Entity'].unique()

# filter DataFrame to only those Entities
df = df[df['Entity'].isin(valid_entities)]
df['classification'].describe()

count                      2992
unique                        4
top       High-income countries
freq                       1353
Name: classification, dtype: object

In [13]:
entities = df['Entity'].unique()

for entity in entities:

    region_value = df.loc[ (df['Entity'] == entity) & (df['Year'] == 2023), 'World_Region' ] # get the value for the entity at year 2023

    if not region_value.empty:  # if the region value for 2023 exists
        region_value = region_value.iloc[0]

        df.loc[df['Entity'] == entity, 'World_Region'] = region_value # assign 2023's value to all (since continent information does not change it was only present for one year)

print(df.head())


# 1990 to 1999 were kept to do imputation now they are dropped
df = df.loc[(df["Year"] >= 2000) & (df["Year"] < 2023)]

       Entity  Year                 classification  Math_PISA_Female  \
1082  Albania  1990  Lower-middle-income countries         382.90045
1083  Albania  1991  Lower-middle-income countries         382.90045
1084  Albania  1992  Lower-middle-income countries         382.90045
1085  Albania  1993           Low-income countries         382.90045
1086  Albania  1994           Low-income countries         382.90045

      Math_PISA_Male World_Region  Read_PISA_Female  Read_PISA_Male  \
1082       372.29266       Europe         377.55408        319.0706
1083       372.29266       Europe         377.55408        319.0706
1084       372.29266       Europe         377.55408        319.0706
1085       372.29266       Europe         377.55408        319.0706
1086       372.29266       Europe         377.55408        319.0706

      Sci_PISA_Female  Sci_PISA_Male  ...  GDP_PPP_perCapita  \
1082         405.6126      376.52213  ...          5407.3247
1083         405.6126      376.52213  ...          3916.6973
1084         405.6126      376.52213  ...          3657.3120
1085         405.6126      376.52213  ...          4031.4531
1086         405.6126      376.52213  ...          4393.0650

      Gini_Coefficient  Gender_Inequality  GovEduSpend_Pct  Avg_School_Years  \
1082          0.270103              0.307        11.371651          7.354632
1083          0.270103              0.307        11.371651          7.352754
1084          0.270103              0.307        11.371651          7.350875
1085          0.270103              0.307        11.371651          7.348996
1086          0.270103              0.307        11.371651          7.347118

      Mean_School_Years_M  Mean_School_Years_F  Expected_School_Years    HDI  \
1082              9.42406              8.23519               11.57934  0.649
1083              9.42406              8.23519               11.78130  0.632
1084              9.42406              8.23519               10.65801  0.616
1085              9.42406              8.23519               10.07354  0.618
1086              9.42406              8.23519                9.99266  0.623

      Corruption_Index
1082             0.130
1083             0.507
1084             0.683
1085             0.591
1086             0.683

[5 rows x 25 columns]

In [14]:
print(df[df['classification'].isna()], 'Entity')  # all zeros if everything filled

Empty DataFrame
Columns: [Entity, Year, classification, Math_PISA_Female, Math_PISA_Male, World_Region, Read_PISA_Female, Read_PISA_Male, Sci_PISA_Female, Sci_PISA_Male, Population, Math_PISA_Total, Read_PISA_Total, Sci_PISA_Total, EduSpend_GDP, GDP_PPP_perCapita, Gini_Coefficient, Gender_Inequality, GovEduSpend_Pct, Avg_School_Years, Mean_School_Years_M, Mean_School_Years_F, Expected_School_Years, HDI, Corruption_Index]
Index: []

[0 rows x 25 columns] Entity

In [15]:
missing_pisa_countries = df.loc[df[read_f].isna(), 'Entity'].unique().tolist()

# imputation repetated to fill in last missing values
# list of categories
classific = ['Low-income countries', 'Lower-middle-income countries', 'Upper-middle-income countries', 'High-income countries']

# fill missing values per category, I hope to get better estimation for missing values this way, intead of plugging in overall mean for all countries
for c in classific:
    c_classif = df['classification'] == c # to select only c classification in each loop, boolean series
    for column in to_impute:
        mean_value = df.loc[c_classif, column].mean() # compute mean for each column for classification c
        df.loc[c_classif & df[column].isna(), column] = mean_value # find rows where classification is c and columns values is missing, fill it with its mean


print(df[shortened_columns].isna().sum())  # all zeros if everything filled


rows_with_missing = df[df.isna().any(axis=1)]
#print(rows_with_missing)

#only keep the years that PISA scores originally exist
pisa_years = [2000, 2003, 2006, 2009, 2012, 2015, 2018, 2022]
df = df[df['Year'].isin(pisa_years)].copy()

# PISA average scores calculated from read, math, science total scores average
df['PISA_Total_Average'] = df[['Math_PISA_Total', 'Read_PISA_Total', 'Sci_PISA_Total']].mean(axis=1)

df['PISA_Girls_Average'] = df[['Math_PISA_Female', 'Read_PISA_Female', 'Sci_PISA_Female']].mean(axis=1)

df['PISA_Boys_Average'] = df[['Math_PISA_Male', 'Read_PISA_Male', 'Sci_PISA_Male']].mean(axis=1)


df.to_excel("complete_data.xlsx")
df.to_csv("complete_data.csv")

Entity                   0
Year                     0
classification           0
Math_PISA_Female         0
Math_PISA_Male           0
World_Region             0
Read_PISA_Female         0
Read_PISA_Male           0
Sci_PISA_Female          0
Sci_PISA_Male            0
Population               0
Math_PISA_Total          0
Read_PISA_Total          0
Sci_PISA_Total           0
EduSpend_GDP             0
GDP_PPP_perCapita        0
Gini_Coefficient         0
Gender_Inequality        0
GovEduSpend_Pct          0
Avg_School_Years         0
Mean_School_Years_M      0
Mean_School_Years_F      0
Expected_School_Years    0
HDI                      0
Corruption_Index         0
dtype: int64